{% extends 'base.html' %}

{% block content %}

<h2>Register Account</h2>
<p style="color: gray; font-size: 14px;">
    Create your account to manage warehouse data
</p>

<form method="POST">

    <label>Username</label>
    <input type="text" name="username" placeholder="Enter username" required>

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter password" required>

    <hr style="margin: 20px 0;">

    <label>Full Name</label>
    <input type="text" name="full_name" placeholder="Enter full name" required>

    <label>Email Address</label>
    <input type="email" name="email" placeholder="Enter email" required>

    <label>Gender</label>
    <select name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>

    <label>Age</label>
    <input type="number" name="age" placeholder="Enter age">

    <label>Occupation</label>
    <input type="text" name="occupation" placeholder="Enter occupation">

    <label>City</label>
    <input type="text" name="city" placeholder="Enter city">

    <label>Phone</label>
    <input type="text" name="phone" placeholder="Enter phone number">

    <button type="submit">Create Account</button>

</form>

<p style="text-align:center; margin-top:15px;">
    Already have an account? 
    <a href="{{ url_for('login') }}">Login</a>
</p>

{% endblock %}